<section class="p-4 grid gap-4">
    <div *ngFor="let address of addressListToDisplay">
        <div class="grid sm:grid-cols-3 lg:grid-cols-6 gap-4">
            <app-user-infos-item title="Tipo" [description]="address.typeDescription"></app-user-infos-item>
            <app-user-infos-item title="Rua" [description]="address.street"></app-user-infos-item>
            <app-user-infos-item title="Complemento" [description]="address.complement"></app-user-infos-item>
            <app-user-infos-item title="País" [description]="address.country"></app-user-infos-item>
            <app-user-infos-item title="Estado" [description]="address.state"></app-user-infos-item>
            <app-user-infos-item title="Cidade" [description]="address.city"></app-user-infos-item>
        </div>
        <hr class="sm:hidden">
    </div>
</section>