<section class="p-4 grid gap-4">
    <div>
        <div class="grid sm:grid-cols-3 lg:grid-cols-6 gap-4">
            <app-user-infos-item title="Tipo" [description]="'Residential'"></app-user-infos-item>
            <app-user-infos-item title="Rua" [description]="'Rua de Tal'"></app-user-infos-item>
            <app-user-infos-item title="Complemento" [description]="'próximo ao lago'"></app-user-infos-item>
            <app-user-infos-item title="País" [description]="'Brazil'"></app-user-infos-item>
            <app-user-infos-item title="Estado" [description]="'São Paulo'"></app-user-infos-item>
            <app-user-infos-item title="Cidade" [description]="'São Paulo'"></app-user-infos-item>
        </div>
        <hr class="sm:hidden">
    </div>
</section>