<section class="p-4 grid gap-4">
    <div>
        <div class="grid sm:grid-cols-3 lg:grid-cols-6 gap-4">
            <mat-form-field>
                <mat-label>Tipo:</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Rua:</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Complemento:</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>País:</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cidade:</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <hr class="sm:hidden">
    </div>
</section>