<nav class="w-full flex flex-col sm:flex-row justify-between gap-4">
    <div>
        <button [ngClass]="'slate' | buttonStyle" (click)="onUsersListRouterButton(true)">
            <mat-icon>reply</mat-icon>
        </button>
    </div>
    <div class="flex gap-4">
        <div *ngIf="!isInEditMode">
            <button
                (click)="onDeleteButton()"
                [ngClass]="'red' | buttonStyle"
                >Remover</button>
        </div>
        <div *ngIf="!isInEditMode">
            <button
                [ngClass]="'indigo' | buttonStyle"
                (click)="onEditButton()"
                >
                Editar
            </button>
        </div>
        <div *ngIf="isInEditMode">
            <button
                [ngClass]="'red' | buttonStyle"
                (click)="onCancelButton()"
                >
                Cancelar
            </button>
        </div>
        <div *ngIf="isInEditMode">
            <button
                class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white "
                [ngClass]="{
                    'bg-green-600 hover:bg-green-500': enableSaveButton,
                    'bg-green-200': !enableSaveButton
                }"
                (click)="onSaveButton()"
                >
                Salvar
            </button>
        </div>
    </div>
</nav>