<main>
    <app-user-informations-container
        [title]="title"
        [userSelected]="userSelected"
        [userSelectedIndex]="userSelectedIndex"
        [isInEditMode]="isInEditMode"
        [focusFirstInvalidControl$]="focusFirstInvalidControl$"
        [shouldMarkUserFormTouchedAndValidity]="shouldMarkUserFormTouchedAndValidity"
        (onEnableSaveButton)="onEnableSaveButton($event)"
        (onUserFormFirstChange)="onUserFormFirstChange()">
        <app-user-update-buttons-container
            [enableSaveButton]="enableSaveButton"
            [isInEditMode]="isInEditMode"
            (onUsersListRouterButton)="onUsersListRouterButton($event)"
            (onDeleteButton)="onDeleteButton()"
            (onEditButton)="onEditButton()"
            (onCancelButton)="onCancelButton()"
            (onSaveButton)="onSaveButton()"
            ></app-user-update-buttons-container>
    </app-user-informations-container>
</main>