<main>
    <app-user-informations-container
        [userSelected]="userSelected"
        [userSelectedIndex]="userSelectedIndex"
        [isInEditMode]="isInEditMode"
        (onEnableSaveButton)="onEnableSaveButton($event)">
        <app-user-update-buttons-container
            [enableSaveButton]="enableSaveButton"
            [isInEditMode]="isInEditMode"
            (onEditButton)="onEditButton()"
            (onCancelButton)="onCancelButton()"
            (onSaveButton)="onSaveButton()"
            ></app-user-update-buttons-container>
    </app-user-informations-container>
</main>