<section>
    <form class="p-4 grid gap-4" [formGroup]="userForm">
        <ng-container formGroupName="generalInformations">
            <div class="grid lg:grid-cols-3 gap-4">
                <mat-form-field>
                    <mat-label>Nome:</mat-label>
                    <input matInput placeholder="Fulano" formControlName="name">
                    <mat-error *ngIf="nameControl.hasError('required')">
                        O <strong>Nome</strong> é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="nameControl.hasError('existsNameError') && !nameControl.hasError('required')">
                        O <strong>Nome</strong> já existe.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput placeholder="fulano@email.com" formControlName="email">
                    <mat-error *ngIf="emailControl.hasError('required')">
                        O <strong>Email</strong> é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('pattern') && !emailControl.hasError('required')">
                        O <strong>Email</strong> é inválido.
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('existsEmailError') && !emailControl.hasError('required')">
                        O <strong>Email</strong> já existe.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="grid lg:grid-cols-3 gap-4">
                <div class="grid">
                    <mat-form-field>
                        <mat-label>Senha:</mat-label>
                        <input
                            matInput
                            placeholder="abc123"
                            formControlName="password"
                            #passwordRef
                            (input)="onPasswordInputAndChangesEvent($event)">
                        <mat-progress-bar
                            *ngIf="passwordControl.dirty"
                            [ngClass]="{
                                'strong-password': passwordStrength === 100,
                                'medium-password': passwordStrength === 50,
                                'weak-password': passwordStrength === 20 || passwordStrength === 0
                            }"
                            [value]="passwordStrength"></mat-progress-bar>
                        <mat-error *ngIf="passwordControl.hasError('required')">
                            A <strong>Senha</strong> é obrigatória.
                        </mat-error>
                        <mat-error *ngIf="passwordControl.hasError('passwordStrengthError') && !passwordControl.hasError('required')">
                            Escolha uma <strong>Senha</strong> mais forte.
                        </mat-error>
                        <mat-error *ngIf="passwordControl.hasError('existsPasswordError') && !passwordControl.hasError('required')">
                            A <strong>Senha</strong> já existe.
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Confirmação de Senha:</mat-label>
                    <input matInput placeholder="abc123" formControlName="passwordConfirm">
                    <mat-error *ngIf="passwordConfirmControl.hasError('required')">
                        A <strong>Confirmação de Senha</strong> é obrigatória.
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmControl.hasError('passwordConfirmEqualNotError') && !passwordConfirmControl.hasError('required')">
                        As <strong>Senhas</strong> são diferentes.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="grid lg:grid-cols-3 gap-4">
                <mat-form-field>
                    <mat-label>País:</mat-label>
                    <input
                        matInput
                        placeholder="Brazil"
                        formControlName="country"
                        [matAutocomplete]="country"
                        (focus)="onCountryFocusEvent()">
                    <mat-error>
                        O <strong>País</strong> é obrigatório.
                    </mat-error>
                </mat-form-field>
                <mat-autocomplete #country="matAutocomplete" (optionSelected)="onCountrySelected($event)">
                    <mat-option *ngFor="let country of countriesListFiltered" [value]="country.name">{{ country.name }}</mat-option>
                </mat-autocomplete>
                <mat-form-field>
                    <mat-label>Estado:</mat-label>
                    <input
                        matInput
                        placeholder="São Paulo"
                        formControlName="state"
                        [matAutocomplete]="state"
                        (focus)="onStateFocusEvent()">
                        <mat-error>
                            O <strong>Estado</strong> é obrigatório.
                        </mat-error>
                </mat-form-field>
                <mat-autocomplete #state="matAutocomplete">
                    <mat-option *ngFor="let state of statesListFiltered" [value]="state.name">{{ state.name }}</mat-option>
                </mat-autocomplete>
            </div>
            <div class="grid lg:grid-cols-3 gap-4">
                <mat-radio-group class="flex flex-col justify-between lg:flex-row" formControlName="maritalStatus">
                    <mat-radio-button *ngFor="let status of maritalStatusObjList" [value]="status.type">{{ status.description }}</mat-radio-button>
                </mat-radio-group>
                <mat-form-field>
                    <mat-label>Renda Mensal:</mat-label>
                    <div class="flex">
                        <span *ngIf="monthlyIncome.value" matTextPrefix>R$</span>
                        <input
                            matInput
                            placeholder="R$1.000,00"
                            mask="separator.2"
                            thousandSeparator="."
                            decimalMarker=","
                            formControlName="monthlyIncome">
                        </div>
                        <mat-error>
                            A <strong>Renda Mensal</strong> é obrigatória.
                        </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Data de Nascimento:</mat-label>
                    <input
                        matInput
                        placeholder="DD/MM/AAAA"
                        readonly
                        formControlName="birthDate"
                        [min]="minDate"
                        [max]="maxDate"
                        [matDatepicker]="birthDate">
                    <mat-error>
                        A <strong>Data de Nascimento</strong> é obrigatória.
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                    <mat-datepicker #birthDate>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancelar</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-hint>DD/MM/AAAA</mat-hint>
                </mat-form-field>
            </div>
        </ng-container>
    </form>
</section>