<section class="p-4 grid gap-4">
    <div class="text-2xl font-semibold">
        Dependentes:
    </div>
    <div *ngFor="let dependent of dependentsList;">
        <div class="p-4 grid sm:grid-cols-4 gap-4">
            <app-user-infos-item title="Nome" [description]="dependent.name"></app-user-infos-item>
            <app-user-infos-item title="Idade" [description]="dependent.age.toString()"></app-user-infos-item>
            <app-user-infos-item title="Documento" [description]="dependent.document | cpf"></app-user-infos-item>
        </div>
        <hr class="sm:hidden">
    </div>
</section>