<section class="p-4 grid gap-4">
    <div class="text-2xl font-semibold">
        Dependentes:
    </div>
    <div>
        <div class="p-4 grid sm:grid-cols-3 gap-4">
            <app-user-infos-item title="Nome" [description]="'Fulano'"></app-user-infos-item>
            <app-user-infos-item title="Idade" [description]="'12'"></app-user-infos-item>
            <app-user-infos-item title="Documento" [description]="'111.111.111-11'"></app-user-infos-item>
        </div>
        <hr class="sm:hidden">
    </div>
</section>