<section class="p-4 grid gap-4">
    <div class="grid sm:grid-cols-3 gap-4">
        <app-user-infos-item title="Nome" [description]="'Fulano'"></app-user-infos-item>
        <app-user-infos-item title="Email" [description]="'fulano@gmail.com'"></app-user-infos-item>
    </div>
    <div class="grid sm:grid-cols-3 gap-4">
        <app-user-infos-item title="Senha" [description]="'fulano123'"></app-user-infos-item>
    </div>
    <div class="grid sm:grid-cols-3 gap-4">
        <app-user-infos-item title="País" [description]="'Brazil'"></app-user-infos-item>
        <app-user-infos-item title="Estado" [description]="'São Paulo'"></app-user-infos-item>
    </div>
    <div class="grid sm:grid-cols-3 gap-4">
        <app-user-infos-item title="Estado Cívil" [description]="'Solteiro'"></app-user-infos-item>
        <app-user-infos-item title="Renda Mensal" [description]="'R$5000'"></app-user-infos-item>
        <app-user-infos-item title="Data de Nascimento" [description]="'09/10/1999'"></app-user-infos-item>
    </div>
</section>