<form [formGroup]="userForm" class="p-4 grid lg:grid-cols-3 gap-4">
    <ng-container formGroupName="contactInformations">
        <ng-container
            *ngFor="let phone of phoneList.controls; let i = index;"
            formArrayName="phoneList">
            <ng-container [formGroupName]="i">
                <mat-form-field>
                    <mat-label>{{ phone.value.typeDescription }}:</mat-label>
                    <input
                        matInput
                        [mask]="phone.value.type | phoneMask"
                        [placeholder]="phone.value.type | phonePlaceholder"
                        [validation]="true"
                        formControlName="number">
                    <mat-error *ngIf="phoneList.controls[i].get('number')?.hasError('required')">
                        O <strong>Telefone</strong> é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="phoneList.controls[i].get('number')?.hasError('mask')">
                        O <strong>Telefone</strong> é inválido.
                    </mat-error>
                    <mat-error *ngIf="phoneList.controls[i].get('number')?.hasError('existsPhoneError')">
                        O <strong>Telefone</strong> já existe.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </ng-container>
    </ng-container>
</form>