<section class="p-4 grid lg:grid-cols-3 gap-4">
    <mat-form-field>
        <mat-label>Residencial:</mat-label>
        <input matInput placeholder="+55 11 1111-2222">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Celular:</mat-label>
        <input matInput placeholder="+55 11 91111-2222">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Emergêncial:</mat-label>
        <input matInput placeholder="+55 11 1111-2222 ou +55 11 91111-2222">
    </mat-form-field>
</section>