<section class="p-4 grid gap-4">
    <div class="text-2xl font-semibold">
        Músicas:
    </div>
    <form [formGroup]="userForm">
        <ng-container formArrayName="musicInformations">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Título</th>
                    <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field>
                            <mat-label>Título:</mat-label>
                            <input matInput formControlName="title">
                            <mat-error>
                                O <strong>Título</strong> é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="band">
                    <th mat-header-cell *matHeaderCellDef>Banda</th>
                    <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field>
                            <mat-label>Banda:</mat-label>
                                <input matInput formControlName="band">
                                <mat-error>
                                A <strong>Banda:</strong> é obrigatória.
                                </mat-error>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="genre">
                    <th mat-header-cell *matHeaderCellDef>Gênero</th>
                    <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field>
                            <mat-label>Gênero:</mat-label>
                            <mat-select formControlName="genre">
                                <mat-option [value]="null">-</mat-option>
                                <mat-option *ngFor="let genre of genresList" [value]="genre.id">
                                    {{ genre.description }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                O <strong>Gênero</strong> é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="isFavorite">
                    <th mat-header-cell *matHeaderCellDef>Favorita</th>
                    <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-checkbox formControlName="isFavorite"></mat-checkbox>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </form>
</section>