<app-user-informations-container
    [title]="title"
    [userSelected]="userSelected"
    [isInEditMode]="isInEditMode"
    [shouldMarkUserFormTouchedAndValidity]="shouldMarkUserFormTouchedAndValidity"
    [focusFirstInvalidControl$]="focusFirstInvalidControl$"
    (onEnableSaveButton)="onEnableSaveButton($event)">
        <app-user-create-buttons-container
            [isInEditMode]="isInEditMode"
            [enableSaveButton]="enableSaveButton"
            (onUsersListRouterButton)="onUsersListRouterButton($event)"
            (onCreateButton)="onCreateButton()"></app-user-create-buttons-container>
</app-user-informations-container>